*{
    box-sizing: border-box;
    margin: 0;
}
.container{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 10fr;
    color: #fff;
    font-size: 22px;
}
.header{
    grid-column: 1/3;
    text-align: center;
    background-color: #3c4850;
    padding: 20px;
}
.left-menu{
    background-color: #3c4850;
    padding: 5vh 3vw;
    & li{
        line-height: 1.5;
        list-style-type: ":) ";
    }
    & li:hover{
        list-style-type: ":0 ";
        text-decoration: underline;
    }
}
.content{
    background-color: rgba(227, 243, 252, 0.664);
    display: flex;
    justify-content: center;
    margin: 5vh;
    color: #4b4343;
}
table{
    border-spacing: 0;
    margin: 5vh;
}
table th, td{
    border: 1px solid #0e2f49;
    width: 12vw;
}